@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Layout/LayoutNguoiDung.cshtml";
}
@section slide
{
    <section class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/Assets/User/themes/images/carousel/2_1920x.jpg" />
                </li> 
                <li>
                    <img src="~/Assets/User/themes/images/carousel/Luxurt.jpg" />
                </li>
                <li>
                    <img src="~/Assets/User/themes/images/carousel/2_1920x.jpg" />
                </li>

                <!-- <div class="intro">
                    <h1>Mid season sale</h1>
                    <p><span>Up to 50% Off</span></p>
                    <p><span>On selected items online and in stores</span></p>
                </div> -->
                <!-- </li> -->
            </ul>
        </div>
    </section>
    <section class="header_text">
        Welcome to the world of perfume
        <br />Let's SHOPPING now !!!
    </section>
}
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Our <strong>Brands</strong></span></span></span>
                    </h4>
                    <div id="ThuongHieu" class="button" >
                        <a href="#" class="button"> CHANEL </a>
                        
                        <a href="#" class="button button-submit"> GUCCI </a>
                        
                        <a href="#" class="button"> CALVIN KLEIN </a>
                        
                        <a href="#" class="button button-submit"> DIOR </a>
                        
                        <a href="#" class="button"> BURBERRY </a>

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Newest <strong>Products</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-2" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/chanel_sp9.jpg" /></a></p>
                                            <a href="product_detail.html" class="title">Chanel Pink</a><br />
                                            <a href="products.html" class="category">Chanel</a>
                                            <p class="price">3500000</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/burberry_sp10.jpg" /></a></p>
                                            <a href="product_detail.html" class="title">Burberry Touch For Women</a><br />
                                            <a href="products.html" class="category">Burberry</a>
                                            <p class="price">2690000</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                          <div class="product-box">
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/gucci_sp6.jpg" /></a></p>
                                            <a href="product_detail.html" class="title">Gucci Bamboo</a><br />
                                            <a href="products.html" class="category">Gucci</a>
                                            <p class="price">2300000</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/chanel_sp1.jpg" /></a></p>
                                            <a href="product_detail.html" class="title">Chanel Jadore</a><br />
                                            <a href="products.html" class="category">Chanel</a>
                                            <p class="price">1450000</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/burberry_sp8.jpg" /></a></p>
                                            <a href="product_detail.html" class="title">Burberry Weekend</a><br />
                                            <a href="products.html" class="category">Burberry</a>
                                            <p class="price">2690000</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/gucci_sp3.jpg"/></a></p>
                                            <a href="product_detail.html" class="title">Gucci Flora Ye</a><br />
                                            <a href="products.html" class="category">Gucci</a>
                                            <p class="price">2300000</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/dior_sp8.jpg"/></a></p>
                                            <a href="product_detail.html" class="title">Dior Homme</a><br />
                                            <a href="products.html" class="category">Dior</a>
                                            <p class="price">1450000</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="~/Assets/User/themes/images/Perfume/CK_sp8.jpg"/></a></p>
                                            <a href="product_detail.html" class="title">CK Deep</a><br />
                                            <a href="products.html" class="category">Calvin Klein</a>
                                            <p class="price">1450000</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            <div class="row feature_box">
                <div class="span4">
                    <div class="service">
                        <div class="responsive">
                            <img src="~/Assets/User/themes/images/feature_img_2.png" alt="" />
                            <h4>MODERN <strong>DESIGN</strong></h4>
                            <p>BE ALL YOU CAN BE.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="customize">
                            <img src="~/Assets/User/themes/images/feature_img_1.png" alt="" />
                            <h4>FREE <strong>SHIP</strong></h4>
                            <p>FASTER - MORE CONVENIENT.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="support">
                            <img src="~/Assets/User/themes/images/feature_img_3.png" alt="" />
                            <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                            <p>EVERYTIME YOU NEED, WE ARE AVAILABLE.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_client">
    <h4 class="title"><span class="text">Manufactures</span></h4>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="~/Assets/User/themes/images/clients/5.jpg"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Assets/User/themes/images/clients/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Assets/User/themes/images/clients/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Assets/User/themes/images/clients/3.jpg"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/Assets/User/themes/images/clients/4.jpg"></a>
        </div>
    </div>
</section>
