<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

<connectionStrings><add name="NuocHoaDbContext" connectionString="data source=.\NGANSQL;initial catalog=WebNuocHoa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="NuocHoaDbContext" connectionString="data source=.\NGANSQL;initial catalog=WebNuocHoa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>
